validators/state.json
bittensor_subnet_template.egg-info/
bittensor_subnet_template.egg-info
template/__pycache__/
__pycache__/
*.pyc
state.json
wandb/
.vscode
.envrc
.idea/
.ipynb_checkpoints/
.venv/
validators/.ipynb_checkpoints/
**/organic.py
**/validator.ipynb
**/.env
**/Cortex.t.egg-info