ModelMaps:
  davinci-002: openai/gpt-3.5-turbo-instruct
  gpt-4-1106-preview: openai/gpt-3.5-turbo-instruct
  gpt-4-turbo-preview: openai/gpt-3.5-turbo-instruct
  gpt-4-0125-preview: openai/gpt-3.5-turbo-instruct
  babbage-002: openai/gpt-3.5-turbo-instruct
  gpt-4: openai/gpt-3.5-turbo-instruct
  gpt-4-0613: openai/gpt-3.5-turbo-instruct
  gpt-3.5-turbo-16k: openai/gpt-3.5-turbo-16k
  gpt-4o: openai/gpt-4o
  gpt-4o-2024-05-13: openai/gpt-3.5-turbo-instruct
OVERRIDE_ENVIRONMENT_KEYS:
  OPENAI_API_KEY: some_default_key
  WANDB_API_KEY: some_default_key
  ANTHROPIC_API_KEY: some_default_key
  GOOGLE_API_KEY: some_default_key
  OPENROUTER_API_KEY: some_default_key
