ENV=dev
WANDB_API_KEY=

# used both by validator and miner:
OPENAI_API_KEY=
GOOGLE_API_KEY=
ANTHROPIC_API_KEY=
GROQ_API_KEY=test
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
PIXABAY_API_KEY=

# when running tests locally, it's useful to whitelist your validator key so it can connect to your miner
CORTEXT_MINER_ADDITIONAL_WHITELIST_VALIDATOR_KEYS=

RICH_TRACEBACK=0
BT_SUBTENSOR_NETWORK=
WALLET_NAME=
HOT_KEY=
NET_UID=196
AXON_PORT=8098
ASYNC_TIME_OUT=60
