bittensor==8.5.1
datasets==2.*
envparse==0.2.0
openai>=1.3.2, ==1.*
Pillow==10.*
requests==2.*
scikit-learn==1.*
torch==2.*
transformers==4.*
wandb==0.19.1
anthropic==0.42.0
stability-sdk
boto3
anthropic_bedrock
pyOpenSSL==24.*
google-generativeai
groq==0.13.1
aioboto3
tabulate
httpx==0.27.2
numpy==2.0.2